= page_title "Edit #{@organizer.name}", without_heading: true

= content_for :asset_actions
  li.asset-action= link_to "remove", larp_organizer_path(@larp, @organizer), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs"

= render "form"
