.breadcrumb-larp {
  margin-top: 20px;
  li.asset-action {
    float: right !important;
  }
  li.asset-action:before {
    content: "";
  }
}

.actions-icons {
  span {
    margin-right: 10px;
  }
}

.larp-sidebar {
  .add-asset {
    display: none;
    background-color: blue;
  }
  .list-group-item:hover {
    .add-asset {
      display: inline;
    }
  }
}

.panel-asset {
  font-size: 1.2em;
}
