.breadcrumb-larp {
  li.asset-action {
    float: right !important;
  }
  li.asset-action:before {
    content: "";
  }
}

.actions-icons {
  text-align: center;
  span {
    margin-right: 10px;
  }
}

.larp-sidebar {
  .add-asset {
    background-color: #00f;
    display: none;
  }
  .list-group-item:hover {
    .add-asset {
      display: inline;
    }
  }
}

.panel-asset {
  font-size: 1.2em;
}

.remove-association {
  color: #e74c3c;
  &:hover {
    color: #e74c3c;
  }
}

.small-info {
  font-size: .7em;
}

.tag {
  margin-right: 10px;
  &:hover {
    text-decoration: none;
  }
}

.bootstrap-tagsinput {
  display: block;
}

.badge-tag-count {
  font-size: 0.8em;
  padding: 1px 3px;
}

.tab-content-asset {
  margin-top: 20px;
}
