= content_for :html_title, "Edit #{current_asset.name}"

= content_for :asset_actions
  li.asset-action= link_to "remove", [@larp, current_asset], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs"

= render "form"
