- flash.each do |type, message|
  = content_tag :div, class: "alert #{bootstrap_class_for type} fade in alert-dismissable" do
    button.close{type="button" data-dismiss="alert"} &times;
    = message
